:root[data-theme="light"] {
  --text: #1b080a;
  --background: #fbf4f4;
  --primary: #c64e5a;
  --secondary: #97ddc0;
  --accent: #78a6d3;
}

:root[data-theme="dark"] {
  --text: #f7e4e5;
  --background: #0b0404;
  --primary: #b13945;
  --secondary: #22684b;
  --accent: #2c5987;
}

body {
  /* Use the --background and --text variables */
  background-color: var(--background);
  color: var(--text);
  font-family: sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

h1,
h2 {
  /* Use the --primary variable for headings */
  color: var(--primary);
}

.btn {
  /* Use the --accent variable for a button */
  background-color: var(--accent);
  color: var(--text); /* You can re-use variables */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}
